#alert-box button {
   display: none;
}

.col-centered {
   margin: 0 auto;
   float: none;
}

ul.features {
   padding: 0;
}

ul.features li {
   list-style: none;
   padding: 10px;
}

.plan {
   padding: 20px;
   background: #F9F9F9;
}